{{#extend "adminStyle"}}
    <style>
        .admin {
            background: #d2d2d2;
        }
    </style>
{{/extend}}
{{#if getSucess}}
    {{err}}
{{/if}}
<div class="search clearfix">


            <table>
                <tbody>
                <tr>
                    <td colspan="11">
                        <input id="searchVal" type="text" placeholder="相册名称"><input id="searchBtn" type="submit" value="查询">
                    </td>
                </tr>
                <form method="post" action="/admin" enctype="multipart/form-data">
                <tr>
                    <td ><input type="text" name="projectTitle" placeholder="相册名称"></td>

                    <td>
                        <span>摄影师</span>
                        <select name="photographer" placeholder="摄影师">
                            <option value="黄家金">黄家金</option>
                        </select>
                    </td>
                    <td><span>套餐</span>
                        <select name="package" placeholder="套餐">
                            <option value="A">A套餐</option>
                            <option value="B">B套餐</option>
                            <option value="C">C套餐</option>
                        </select>
                    </td>

                <td><input type="text" name="description" placeholder="描述"></td>
                <td><input type="text" name="area" placeholder="地区"></td>

                <td><input type="text" name="style" placeholder="风格"></td>
                <td><input type="file" name="img" multiple></td>

                <td><input type="text" name="customer" placeholder="客户"></td>
                <td><input type="text" name="createdBy" placeholder="谁上传的"></td>

                <td><input type="text" name="photoOn" placeholder="拍摄时间"></td>
                <td>
                    <input type="submit" value="增加">
                </td>
                </tr>
                </form>
                </tbody>
            </table>


</div>

<table id="tableform">
    <tbody>
    {{#each list}}
        <tr>
            <td>
                <span>摄影师</span>
                <select name="photographer" placeholder="摄影师">
                    <option value="黄家金">黄家金</option>
                </select>
            </td>
            <td><span>套餐</span>
                <select name="package" placeholder="套餐">
                    <option value="A">A套餐</option>
                    <option value="B">B套餐</option>
                    <option value="C">C套餐</option>
                </select></td>
            <td><input type="text" name="projectTitle" value="{{projectTitle}}" placeholder="相册名称"></td>
            <td><input type="text" name="description" value="{{description}}" placeholder="描述"></td>
            <td><input type="text" name="area" value="{{area}}" placeholder="地区"></td>
            <td><input type="text" name="style" value="{{style}}" placeholder="风格"></td>
            <td>
                <ul class="imgList">
                    {{#each img}}
                        <li><img img_id="" src="{{name}}"><input type="button" value="删除"></li>
                    {{/each}}
                </ul>
            </td>
            <td><input type="text" name="customer" value="{{customer}}" placeholder="客户"></td>
            <td><input type="text" name="createdBy" value="{{createdBy}}" placeholder="谁上传的"></td>
            <td><input type="text" name="photoOn" value="{{photoOn}}" placeholder="拍摄时间"></td>
            <td>
                <input type="button" value="修改">
                <input class="delBtn" type="button" _id="{{_id}}" value="删除">
            </td>
        </tr>
    {{/each}}
    </tbody>


</table>



{{#extend "adminScripts"}}
    <script>

    </script>
{{/extend}}