{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}admin/css/admin.css">
    <style>
        .orders {
            color: #ff4f4f;
        }
    </style>
{{/extend}}

<div class="main clearfix">
    {{> admin_left}}
    <div class="content">
        <h2 class="cart-title order-cart-title">订单信息 <span class="yd-btn">立即预定</span></h2>
        <table class="orders-table">
            <thead>
            <tr>
                <td>姓名</td>
                <td>电话</td>
                <td>摄影师</td>
                <td>拍摄时间</td>
                <td>拍摄风格</td>
                <td>拍摄城市</td>
                <td>拍摄路线</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {{#with intention}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{phone}}</td>
                    <td>{{../realName}}</td>
                    <td>{{photoTime}}</td>
                    <td>{{photoStyle}}</td>
                    <td>{{city}}</td>
                    <td width="150">{{photoLine}}</td>
                    <td>
                        {{#if hasdo}}
                            <em>正在进行中。。</em>
                        {{else}}
                             <span data-id="{{_id}}" class="cancel">取消订单</span>
                        {{/if}}
                    </td>
                </tr>
            {{/with}}
            </tbody>

        </table>
    </div>
</div>

{{#extend "pcScripts"}}
    <script>
        $('.cancel').click(function(){
            var _id=$(this).attr('data-id');
            $.post("/admin", {_id:_id,type:"delete"},
                    function (data) {
                        alertmsg(data.msg);
                        if(data.success){
                            window.location.href= "/admin/"
                        }
                    });
        })
    </script>
{{/extend}}