{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}admin/css/admin.css">
    <link href="{{static}}common/fine-uploader/fine-uploader-gallery.css" rel="stylesheet">
    <style>
        .photographer {
            color: #ff4f4f;
        }
    </style>
{{/extend}}
<div class="main clearfix">
    {{> admin_left}}
    {{#if application}}
        <div class="content photographer-form">
            <form>
                <div class="br">
                    <span>审核状态：</span>
                    {{#if loginInfo.approved}}
                        <em style="color: #3dd48d;font-weight:bold;">审核通过</em> <a class="photoCustomer"
                                                                                  href="{{static}}admin/production">上传相册></a>
                    {{else}}
                        <em style="color: #ff0000;font-weight:bold;">审核中</em> <a class="photoCustomer" href="">联系客服></a>
                    {{/if}}

                </div>
                <div class="br">
                    <span>真实姓名：</span>{{taove.realName}}
                </div>
                <div class="br">
                    <span>手机账号：</span>{{taove.phone}}  <em style="color: #d0d0d0;">不可修改</em>
                </div>
                <div class="br">
                    <span>邮箱：</span>{{taove.email}}
                </div>
                <div class="br">
                    <span>从业时间(年)：</span>{{taove.fromTime}}
                </div>
                <div class="br">
                    <span>一句话简介：</span>{{taove.singed}}
                </div>
                <div class="br">
                    <span>拍摄地址城市：</span>{{taove.city}}
                </div>
                <div class="br">
                    <span>自我介绍：</span>{{taove.selfIntroduction}}
                </div>
                <div class="br">
                    <span>你的跟从化妆师简介：</span>{{taove.makeuperIntroduction}}
                </div>
                <div class="br">
                    <span>最擅长风格：</span>{{taove.goodStyle}}
                </div>
                <div class="br">
                    <span>手持证件照：</span>
                    <img width="200" src="/img/alpha.png" data-original="{{taove.credentialsPhotoUrl}}" alt=""/>
                </div>
                <div class="br">
                    <a class="button" href="{{static}}admin/photographer?fix=1">修改</a>
                </div>
            </form>


        </div>
    {{else}}
        <div class="content photographer-form">
            <form>
                {{#if taove.approved}}
                {{else}}
                    <div class="br">
                        <span>真实姓名：</span><input name="realName" value="{{taove.realName}}" type="text"/>

                        <p class="realName"></p>
                    </div>
                    <!--                <div class="br">
                                        <span>手机号码</span><input name="phone" type="text"/>
                                        <p class="phone"></p>
                                    </div>-->
                    <div class="br"><span>邮箱：</span><input name="email" value="{{taove.email}}" type="text"/>

                        <p class="email"></p>
                    </div>
                {{/if}}
                <div class="br">
                    <span>从业时间(年)：</span><input name="fromTime" value="{{taove.fromTime}}" type="text"/>

                    <p class="fromTime"></p>
                </div>
                <div class="br">
                    <span>一句话简介：</span><input name="singed" value="{{taove.singed}}" type="text"/>

                    <p class="singed"></p>
                </div>
                <div class="br">
                    <span>拍摄地址城市：</span><input name="city" value="{{taove.city}}" type="text"/>

                    <p class="city"></p>
                </div>
                <div class="br">
                    <span>自我介绍：</span><textarea name="selfIntroduction">{{taove.selfIntroduction}}</textarea>

                    <p class="selfIntroduction"></p>
                </div>
                <div class="br">
                    <span>你的跟从化妆师简介：</span> <textarea
                        name="makeuperIntroduction">{{taove.makeuperIntroduction}}</textarea>

                    <p class="makeuperIntroduction"></p>
                </div>
                <div class="br">
                    <span>最擅长风格：</span>
                    {{>style_select}}
                </div>
                {{#if loginInfo.approved}}
                <div class="br">
                    <img width="200" src="/img/alpha.png" data-original="{{taove.credentialsPhotoUrl}}" alt=""/>
                </div>
                {{else}}
                    <div class="br">
                        <span>手持证件照：</span>

                        <div id="fine-uploader-gallery" style="margin-right: 40px;"></div>
                        <p class="credentialsPhotoUrl"></p>
                    </div>
                {{/if}}
                <div class="br">
                    <button type="submit">提交申请</button>
                    <p class="submit"></p>
                </div>
            </form>


        </div>


    {{/if}}

</div>


<script type="text/template" id="qq-template-gallery">
    <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="拖放图片到此位置">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>上传手持证件照</div>
        </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite"
            aria-relevant="additions removals">
            <li>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>

                <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>

                <div class="qq-thumbnail-wrapper">
                    <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                </div>
                <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                    <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                    Retry
                </button>

                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"
                              aria-label="Edit filename"></span>
                    </div>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                        <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                        <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                        <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                    </button>
                </div>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">

            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

{{#extend "pcScripts"}}
    <script src="{{static}}admin/js/photographer.js"></script>

    {{#if application}}
    {{else}}
        <script src="{{static}}common/fine-uploader/fine-uploader.js"></script>
        <script>

            //上传证件照
            $(function () {

                var galleryUploader = new qq.FineUploader({
                    element: document.getElementById("fine-uploader-gallery"),
                    template: 'qq-template-gallery',
                    request: {
                        endpoint: '{{static}}admin/photographer'
                    },
                    thumbnails: {
                        placeholders: {
                            waitingPath: '{{static}}common/fine-uploader/placeholders/waiting-generic.png',
                            notAvailablePath: '{{static}}common/fine-uploader/placeholders/not_available-generic.png'
                        }
                    },
                    multiple: false,

                    validation: {
                        allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                        sizeLimit: 1024 * 1024 * 2,
                        image: {
                            maxWidth: 1024,
                            maxHeight: 1024
                        }
                    },
                    callbacks: {
                        onComplete: function (id, name, response) {
                            if (!response.success) {
                                $('.credentialsPhotoUrl').html('图片提交失败').parent().addClass('err');
                            } else {
                                $('.credentialsPhotoUrl').html('图片提交成功').parent().removeClass('err');
                            }
                        }
                    }
                });
            })

        </script>
    {{/if}}
{{/extend}}


