{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}admin/css/admin.css">
    <link rel="stylesheet" href="{{static}}admin/css/production.css">
    <link href="{{static}}common/fine-uploader/fine-uploader-new.css" rel="stylesheet">
    <style>
        .production {
            color: #ff4f4f;
        }

        .typeselect {
            position: static;
        }
    </style>
{{/extend}}

<div class="main clearfix">
    {{> admin_left}}
    <div class="content">
        <div class="tab">
            <div class="menu clearfix" >
                <span class="current" data-open="0">已精修</span>
                <span data-open="1">未精修</span>

                <div class="imginfo">共{{imgNum}}张图片</div>
                <a href="{{static}}admin/production">返回>></a>
            </div>
            <div class="panel current clearfix grid1 ">
                <div class="item grid-item upload uploadBtn">
                    <div class="box">
                    </div>
                    <p>上传照片</p>
                </div>
                {{#each albums}}
                    {{#ifCond imgType "==" 1}}
                        <div class="item grid-item">
                            <div class="box">
                                <img  data-original="/{{this.path}}{{this.name}}" width="266" height="{{this.height}}" alt=""/>

                                <div class="btn clearfix" data-id="{{this._id}}">
                                    <i></i>
                                    <span class="delete">删除</span>
                                    <span class="cover">设为封面</span>
                                </div>
                            </div>
                            <p><em>{{this.title}}</em>精修图片</p>
                        </div>
                    {{/ifCond}}
                {{/each}}
            </div>
            <div class="panel clearfix grid2" >
                <div class="item upload grid-item uploadBtn">
                    <div class="box">
                    </div>
                    <p>上传照片</p>
                </div>

                {{#each albums}}

                    {{#ifCond imgType "==" 0}}
                        <div class="item grid-item">
                            <div class="box">
                                <img  data-original="/{{this.path}}{{this.name}}" width="266" height="{{this.height}}" alt=""/>

                                <div class="btn clearfix" data-id="{{this._id}}">
                                    <i></i>
                                    <span class="delete">删除</span>
                                    <span class="cover">设为封面</span>
                                </div>
                            </div>
                            <p><em>{{this.title}}</em>原片</p>
                        </div>
                    {{/ifCond}}
                {{/each}}
            </div>

        </div>

    </div>
</div>
</div>

<div class="pop delete-pop">
    <div class="mask"></div>
    <div class="pop-content">
        <h2>删除作 <span class="close">×</span></h2>

        <p>确定要删除和吗</p>

        <div class="btn">
            <span class="delete">确定</span>
            <span>取消</span>
        </div>
    </div>
</div>
<script>
    var imgNumdetail ={{imgNum}}
</script>

{{> admin_production_pop}}