{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}admin/css/admin.css">
    <link rel="stylesheet" href="{{static}}admin/css/production.css">
    <link href="{{static}}common/fine-uploader/fine-uploader-new.css" rel="stylesheet">
    <style>
        .production {
            color: #ff4f4f;
        }
    </style>
{{/extend}}

<div class="main clearfix">
    {{> admin_left}}
    <div class="content">
        <div class="menu menu_p clearfix">
            <span class="uploadBtn">上传图片</span>
            <span class="createBtn">创建相册</span>
            <span class="sortBtn">展示设置</span>
        </div>
        <div class="panel current clearfix grid1">
            {{#each taove}}
                <a href="{{../static}}admin/productiondetail?albumsId={{this._id}}" class="item">
                    <img width="266"  height="{{this.coverHeight}}"src="{{../static}}img/load.png" data-original="{{../static}}{{this.coverImg}}" alt="{{this.title}}"/>
                    <p><em>{{this.title}}</em>原片</p>
                </a>
            {{/each}}
        </div>
    </div>
</div>
</div>


{{> admin_production_pop}}