{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}admin/css/admin.css">
    <link rel="stylesheet" href="{{static}}admin/css/production.css">
    <link href="{{static}}common/fine-uploader/fine-uploader-new.css" rel="stylesheet">
    <style>
        .production {
            color: #ff4f4f;
        }
    </style>
{{/extend}}

<div class="main clearfix">
    {{> admin_left}}
    <div class="content">
        <div class="menu clearfix">
            <span class="uploadBtn">上传图片</span>
            <span class="createBtn">创建相册</span>
            <span class="sortBtn">展示设置</span>
        </div>
        <div class="productionlist clearfix">
            <a href="{{static}}admin/productiondetail?production={{production}}" class="item">
                <img src="{{static}}img/load.png" data-original="{{static}}pc/img/buyer/yp.jpg" alt=""/>
                <span>枯木丽影</span>
            </a>
            <a href="{{static}}admin/productiondetail" class="item">
                <img src="{{static}}img/load.png" data-original="{{static}}pc/img/buyer/yp.jpg" alt=""/>
                <span>枯木丽影</span>
            </a>
            <a href="{{static}}admin/productiondetail" class="item">
                <img src="{{static}}img/load.png" data-original="{{static}}pc/img/buyer/yp.jpg" alt=""/>
                <span>枯木丽影</span>
            </a><a href="{{static}}admin/productiondetail" class="item">
            <img src="{{static}}img/load.png" data-original="{{static}}pc/img/buyer/yp.jpg" alt=""/>
            <span>枯木丽影</span>
        </a>
            <a href="{{static}}admin/productiondetail" class="item">
                <img src="{{static}}img/load.png" data-original="{{static}}pc/img/buyer/yp.jpg" alt=""/>
                <span>枯木丽影</span>
            </a><a href="{{static}}admin/productiondetail" class="item">
            <img src="{{static}}img/load.png" data-original="{{static}}pc/img/buyer/yp.jpg" alt=""/>
            <span>枯木丽影</span>
        </a>
            <a href="{{static}}admin/productiondetail" class="item ">
                <img src="{{static}}img/load.png" data-original="{{static}}pc/img/buyer/yp.jpg" alt=""/>
                <span>枯木丽影</span>
            </a>
        </div>
    </div>
</div>
</div>


{{> admin_production_pop}}