{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}admin/css/admin.css">
    <link rel="stylesheet" href="{{static}}admin/css/production.css">
    <link href="{{static}}common/fine-uploader/fine-uploader-new.css" rel="stylesheet">
    <style>
        .production {
            color: #ff4f4f;
        }
    </style>
{{/extend}}

<div class="main clearfix">
    {{> admin_left}}
    <div class="content">
        <div class="tab">
            <div class="menu clearfix">
                <span class="current">已精修</span>
                <span>未精修</span>
                <a href="{{static}}admin/production">返回>></a>
            </div>
            <div class="panel current clearfix">
                <div class="item upload uploadBtn">
                    <div class="box">
                    </div>
                    <p>上传照片</p>
                </div>
                {{#each albums}}
                    <div class="item">
                        <div class="box">
                            <img src="{{../static}}img/load.png" data-original="{{../static}}{{this.path}}{{this.name}}" alt=""/>

                            <div class="btn clearfix">
                                <i></i>
                                <span>删除</span>
                                <span>旋转</span>
                                <span>下载</span>
                            </div>
                        </div>
                        <p>原片</p>
                    </div>
                {{/each}}
            </div>
            <div class="panel clearfix">
                <div class="item upload">
                    <div class="box">
                    </div>
                    <p>上传照片</p>
                </div>
                <div class="item">
                    <div class="box">
                        <img src="{{static}}img/load.png" data-original="{{static}}pc/img/buyer/yp.jpg" alt=""/>

                        <div class="btn clearfix">
                            <i></i>
                            <span>删除</span>
                            <span>旋转</span>
                            <span>下载</span>
                        </div>
                    </div>
                    <p>原片</p>
                </div>
                <div class="item">
                    <div class="box">
                        <img src="{{static}}img/load.png" data-original="{{static}}pc/img/buyer/yp.jpg" alt=""/>

                        <div class="btn clearfix">
                            <i></i>
                            <span>删除</span>
                            <span>旋转</span>
                            <span>下载</span>
                        </div>
                    </div>
                    <p>原片</p>
                </div>
            </div>

        </div>

    </div>
</div>
</div>


{{> admin_production_pop}}