{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/app.css">
    <link rel="stylesheet" href="{{static}}pc/css/animate.min.css">
    <style>
    </style>
{{/extend}}


<div class="content">
    <div class="base-section">
        <img class="i_title animated lightSpeedIn" src="{{static}}img/load.png"  data-original="{{static}}pc/img/i_title.png" alt=""/>
        <img class="i_iphone animated bounceInUp" src="{{static}}img/load.png"  data-original="{{static}}pc/img/i_phone.png" alt=""/>

        <div class="box-a animated fadeInRight"  >
            <span class="code_ma"></span>
            <a href="{{static}}" class="i_phone_btn"></a>
            <a href="{{static}}" class="android_btn"></a>
        </div>
    </div>
</div>

<div class="app clearfix">
    <dl class="info-1">
        <dt>
            最潮的婚纱照APP
            <i class="icons"></i>
        </dt>
        <dd>
            提供潮流婚纱照的赏析，不同地点，不同风格，不同套餐的婚纱照分类展示。可以触摸感知的在线婚纱摄影人等着随时与您沟通。
        </dd>
    </dl>
    <dl class="info-2">
        <dt>
            APP在线完成交易
            <i class="icons"></i>
        </dt>
        <dd>
            摄影师的沟通与选定，新人在线选片精修，选框装饰。用移动互联网的产品价值来降低传统婚纱照的暴利，为您节省每一细节的开销。
        </dd>
    </dl>
    <dl class="info-3">
        <dt>
            第三方登录，随时分享
            <i class="icons"></i>
        </dt>
        <dd>
            微信微博三方登录，随时一键分享到朋友圈，每张照片可以与朋友在线互动，点评，收藏，让您现在成为最耀眼幸福明星。
        </dd>
    </dl>

</div>


{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}