{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/index.css">
    <style>
    </style>
{{/extend}}


<a class="banner" href="{{static}}app"></a>
<div class="box clearfix">
    <a class="demo1" href="{{static}}autumn">
        <img src="{{static}}img/load.png"  data-original="{{static}}pc/img/demo.png" alt=""/>
        桃微套餐>
    </a>
    <a href="{{static}}app">   <img src="{{static}}img/load.png"  data-original="{{static}}pc/img/demo-1.png" alt=""/>桃微APP></a>
</div>






{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}