{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/index.css">
    <style>
    </style>
{{/extend}}


<a class="banner" href="{{static}}app"></a>

<script src="http://connect.qq.com/widget/loader/loader.js" widget="shareqq" charset="utf-8"></script>
<div class="box clearfix">
    <a class="demo1" href="{{static}}autumn">
        <img src="{{static}}img/load.png"  data-original="{{static}}pc/img/demo.png" alt=""/>
        桃微套餐>
    </a>
    <a href="{{static}}app">   <img src="{{static}}img/load.png"  data-original="{{static}}pc/img/demo-1.png" alt=""/>桃微APP></a>
</div>




<!--<script type="text/javascript">
    (function(){
        var p = {
            url:location.href, /*获取URL，可加上来自分享到QQ标识，方便统计*/
            desc:'', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
            title:'', /*分享标题(可选)*/
            summary:'', /*分享摘要(可选)*/
            pics:'', /*分享图片(可选)*/
            flash: '', /*视频地址(可选)*/
            site:'', /*分享来源(可选) 如：QQ分享*/
            style:'201',
            width:32,
            height:32
        };
        var s = [];
        for(var i in p){
            s.push(i + '=' + encodeURIComponent(p[i]||''));
        }
        document.write(['<a class="qcShareQQDiv" href="http://connect.qq.com/widget/shareqq/index.html?',s.join('&'),'" target="_blank">分享到QQ</a>'].join(''));
    })();
</script>-->

{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}