<div class="left">
    <a class="orders" href="{{static}}admin">我的意向单</a>
    <a class="carts" href="{{static}}admin/carts">我的购物车</a>
    <a class="albums" href="{{static}}admin/albums">我的婚纱照</a>
    {{#if loginInfo.approved}}
        <a class="production" href="{{static}}admin/production">摄影师相册</a>
    {{/if}}
    <a class="photographer" href="{{static}}admin/photographer">摄影师入驻</a>
</div>