{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/packaged.css">
    <style>
    </style>
{{/extend}}

<div id="main" style="min-height: 559px;">



    <div class="l-banner">
        <div class="l-banner-box">
            <div class="princess-tit z-on"></div>
        </div>
    </div>
    <div class="l-main">
        <div class="introduction z-on"></div>
        <div class="works">
            <h2><span></span></h2>
            <ul>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-2.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-3.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-4.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-5.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-6.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-7.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-8.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-9.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-10.jpg"></a></li>
            </ul>
        </div>
        <div class="promise">
            <h2><span></span></h2>
            <div class="con">
                <div class="list">
                    <h3>传统婚纱摄影店的承诺，我们觉得是理所应当</h3>
                    <ol>
                        <li>所有原像素底片免费赠送</li>
                        <li>承诺拍摄不满意无条件重拍</li>
                        <li>承诺重拍不满意无条件退款</li>
                        <li>拍摄全程无任何隐形消费</li>
                        <li>全程平台管家贴心服务</li>
                        <li>全程团队一对一服务</li>
                        <li>产品一年包换终身保修（非人为损坏）</li>
                    </ol>
                </div>
                <div class="list">
                    <h3>我们要说的是我们特有的：</h3>
                    <ol>
                        <li>拍摄前15天无条件退定金</li>
                        <li>拍摄前10天可免费更改档期一次</li>
                        <li>拍摄前10天可免费更改摄影师一次</li>
                        <li>天气原因更改档期平台负责</li>
                        <li>免费开通微喜帖制作</li>
                        <li>费用托管到平台，收到婚件并满意后平台支付给摄影师团队</li>
                        <li>免费永久云端存储</li>
                    </ol>
                </div>
            </div>
            <ul>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-11.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-12.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-13.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-14.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-15.jpg"></a></li>
                <li><a href="javascript:;"><img src="{{static}}pc/img/pack/demo-16.jpg"></a></li>
            </ul>
        </div>
        <div class="compared">
            <h2><span></span></h2>
            <div class="l-table">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>B套餐</th>
                        <th>C套餐</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>原片</td>
                        <td>拍摄不低于200张</td>
                        <td>拍摄不低于220张</td>
                    </tr>
                    <tr>
                        <td>精修片</td>
                        <td>55张</td>
                        <td>70张</td>
                    </tr>
                    <tr>
                        <td>礼服造型</td>
                        <td>5组</td>
                        <td>6组</td>
                    </tr>
                    <tr>
                        <td>相册</td>
                        <td>
                            18寸清新炫彩水晶琉璃册（10P）<br>
                            12寸清新炫彩水晶琉璃册（10P）

                        </td>
                        <td>
                            18寸高端巴洛克烤漆相册一本（10P）<br>
                            12寸高端巴洛克烤漆相册一本（10P）<br>
                            12寸高端巴洛克烤漆相册一本（10P）
                        </td>
                    </tr>
                    <tr>
                        <td>相册摆台</td>
                        <td>
                            36寸博洛尼高端工艺框一副<br>
                            30寸尊贵赫拉(或韩绒水晶)一副<br>
                            12寸尊贵赫拉(或韩绒水晶)一副<br>
                            10寸尊贵赫拉(或韩绒水晶)一副<br>
                            8寸尊贵赫拉(或韩绒水晶)一副
                        </td>
                        <td>
                            40寸博洛尼高端工艺框一副<br>
                            40寸尊贵维也纳套框一副<br>
                            12寸巴洛克烤漆工艺摆台一副<br>
                            10寸巴洛克烤漆工艺摆台一副<br>
                            8寸巴洛克烤漆工艺摆台一副
                        </td>
                    </tr>
                    <tr>
                        <td>赠品</td>
                        <td>
                            精致80寸婚礼专用巨幅绢丝海报<br>
                            免费永久云端存储<br>
                            免费赠送全部底片、精修片、相册排版设计
                        </td>
                        <td>
                            精致80 寸婚礼专用巨幅绢丝海报<br>
                            免费永久云端存储<br>
                            免费赠送全部底片、精修片、相册排版设计
                        </td>
                    </tr>
                    <tr>
                        <td>服务备注</td>
                        <td>
                            拍摄服装不分区域，所有化妆用品免费<br>
                            拍摄所产生的车、外景地所产生的门票<br>
                            或场地租金（个别场地除外）以及中餐等费用，<br>
                            均由嫁拍承担（含工作人员）
                        </td>
                        <td>
                            拍摄服装不分区域，所有化妆用品免费<br>
                            拍摄所产生的车、外景地所产生的门票<br>
                            或场地租金（个别场地除外）以及中餐等费用，<br>
                            均由嫁拍承担（含工作人员）
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>D套餐</th>
                        <th>E套餐</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>原片</td>
                        <td>拍摄不低于240张</td>
                        <td>拍摄不低于260张</td>
                    </tr>
                    <tr>
                        <td>精修片</td>
                        <td>80张</td>
                        <td>90张</td>
                    </tr>
                    <tr>
                        <td>礼服造型</td>
                        <td>6组</td>
                        <td>6组</td>
                    </tr>
                    <tr>
                        <td>相册</td>
                        <td>
                            18寸莫奈花园浮雕册（10P）<br>
                            12寸莫奈花园浮雕册（10P）<br>
                            12寸莫奈花园浮雕册（10P）

                        </td>
                        <td>
                            18寸维多利亚百合浮雕册（10P）<br>
                            16寸维多利亚百合浮雕册（10P）<br>
                            16寸维多利亚百合浮雕册（10P）
                        </td>
                    </tr>
                    <tr>
                        <td>相框摆台</td>
                        <td>
                            40寸尊贵维也纳套框一副<br>
                            30 *30寸索菲亚框一副<br>
                            高端巴洛克烤漆照片墙一套（11副）<br>
                            10寸莫奈花园浮雕摆台一副<br>
                            12寸巴洛克烤漆工艺摆台一副<br>
                            10寸巴洛克烤漆工艺摆台一副<br>
                            8寸巴洛克烤漆工艺摆台一副
                        </td>
                        <td>
                            60寸博洛尼高端工艺框一副<br>
                            40寸尊贵维也纳套框一副<br>
                            30 *30寸索菲亚框一副<br>
                            高端巴洛克烤漆照片墙一套（11副）<br>
                            10寸维多利亚百合浮雕摆台一副<br>
                            12寸巴洛克烤漆工艺摆台一副<br>
                            10寸巴洛克烤漆工艺摆台一副<br>
                            8寸巴洛克烤漆工艺摆台一副

                        </td>
                    </tr>
                    <tr>
                        <td>赠品</td>
                        <td>
                            精致80寸婚礼专用巨幅绢丝海报两套<br>
                            免费永久云端存储<br>
                            免费赠送全部底片、精修片、相册排版设计
                        </td>
                        <td>
                            精致80寸婚礼专用巨幅绢丝海报两套<br>
                            免费永久云端存储<br>
                            免费赠送全部底片、精修片、相册排版设计
                        </td>
                    </tr>
                    <tr>
                        <td>服务备注</td>
                        <td>
                            结婚当天免费租赁婚纱(齐地款式)、小礼服各一套（租期1天）<br>
                            拍摄服装不分区域，所有化妆用品免费<br>
                            拍摄所产生的车、外景地所产生的门票<br>
                            或场地租金（个别场地除外）以及中餐等费用，<br>
                            均由嫁拍承担（含工作人员）
                        </td>
                        <td>
                            免费量身定做结婚当天婚纱、小礼服各一件<br>
                            （婚纱为齐地，全场任选）<br>
                            拍摄服装不分区域，所有化妆用品免费<br>
                            拍摄所产生的车、外景地所产生的门票<br>
                            或场地租金（个别场地除外）以及中餐等费用，<br>
                            均由嫁拍承担（含工作人员）
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="fix-yuyue">
        <div class="w">
            <a href="javascript:" class="J-open-dialog">立即预定</a>
        </div>
    </div>
</div>


{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}