{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/package.css">
    <style>
    </style>
{{/extend}}

<div class="pack pack-c w">
    <div class="pack-title">
        <img alt="" class="imgLoad" src="{{static}}pc/img/pack/c-title.jpg?20151104" style="display: block;">
        <p>
            满足高端客户个性需求，定制完全属于自己风格的婚纱照，一生一次的私人定制，打造一辈子的美丽
        </p>
    </div>

    <div class="pack-cnt">
        <h3>套系内容</h3>
        <ul class="pack-cnt-ul clearfix">
            <li class="item1">不低于220张精品底片</li>
            <li class="item2">12寸高端巴洛克烤漆册一本</li>
            <li class="item3">8寸高端巴洛克烤漆工艺摆台一副</li>
            <li class="item4">40寸博洛尼高端工艺框一副</li>
            <li class="item5">新郎新娘礼服造型各6套</li>
            <li class="item6">12寸高端巴洛克烤漆册一本</li>
            <li class="item7">10寸高端巴洛克烤漆工艺摆台一副</li>
            <li class="item8">40寸尊贵维也纳套框一副</li>
            <li class="item9">精修底片70张</li>
            <li class="item10">18寸高端巴洛克烤漆册一本</li>
            <li class="item11">12寸高端巴洛克烤漆工艺摆台一副</li>
            <li class="item11">12寸高端巴洛克烤漆工艺摆台一副</li>
        </ul>


        <div class="pack-cnt-zeng">
            <p>精致80寸婚礼巨幅专用绢丝海报</p>
            <p>免费永久云端存储</p>
        </div>
    </div>

    <div class="">
        <img alt="" class="imgLoad" width="1011" height="341" src="{{static}}pc/img/pack/c-1.jpg?20151104" style="display: block;">
    </div>
    <div style="padding-top:7px;">
        <img alt="" class="imgLoad" width="1011" height="554" src="{{static}}pc/img/pack/c-2.jpg?20151104" style="display: block;">
    </div>

    <div class="pt30">
        <img alt="" class="imgLoad" width="1011" height="376" src="{{static}}pc/img/pack/chengnuo.jpg?20151104" style="display: block;">
    </div>

    <div class="pt30">
        <img alt="" class="imgLoad" width="1011" height="398" src="{{static}}pc/img/pack/c-3.jpg?20151104" style="display: block;">
        <img alt="" class="imgLoad" width="1011" height="333" src="{{static}}pc/img/pack/c-4.jpg?20151104" style="display: block;">
        <img alt="" class="imgLoad" width="1011" height="311" src="{{static}}pc/img/pack/c-5.jpg?20151104" style="display: block;">
    </div>

    <div class="pt30">
        <img alt="" class="imgLoad" width="1011" height="422" src="{{static}}pc/img/pack/duibibg.png?20151104" style="display: block;">
    </div>

    <div class="pt20">
        <img alt="" class="imgLoad" width="1011" height="470" src="{{static}}pc/img/pack/c-7.jpg?20151104" style="display: block;">
    </div>

    <div class="pt5">
        <img alt="" class="imgLoad" width="1011" height="664" src="{{static}}pc/img/pack/c-8.jpg?20151104" style="display: block;">
    </div>

    <div class="pt5">
        <img alt="" class="imgLoad" width="1011" height="474" src="{{static}}pc/img/pack/c-9.jpg?20151104" style="display: block;">
    </div>

    <div class="pt10 pack-duibi">
        <div class="pack-duibi-tit">
            <h2>嫁拍套系对比</h2>
        </div>

        <table>
            <thead>
            <tr>
                <th style="width:11%">
                </th>
                <th style="width:44.5%">
                    <a href="/site/package-b">3699套系</a>
                </th>
                <th style="width:44.5%">
                    <a href="/site/package-c">4999套系</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    原片
                </td>
                <td>
                    不低于200张
                </td>
                <td>
                    不低于220张
                </td>
            </tr>
            <tr>
                <td>
                    精修片
                </td>
                <td>
                    55张
                </td>
                <td>
                    70张
                </td>
            </tr>
            <tr>
                <td>
                    礼服造型
                </td>
                <td>
                    5组
                </td>
                <td>
                    6组
                </td>
            </tr>
            <tr>
                <td>
                    相框摆台
                </td>
                <td>
                    8寸尊贵赫拉或韩绒水晶<br>
                    10寸尊贵赫拉或韩绒水晶<br>
                    12寸尊贵赫拉或韩绒水晶<br>
                    30寸尊贵赫拉或韩绒水晶<br>
                    36寸博洛尼高端工艺框
                </td>
                <td>
                    8寸高端巴洛克烤漆工艺摆台<br>
                    10寸高端巴洛克烤漆工艺摆台<br>
                    12寸高端巴洛克烤漆工艺摆台<br>
                    12寸高端巴洛克烤漆工艺摆台<br>
                    40寸博洛尼高端工艺框<br>
                    40寸尊贵维也纳套框<br>
                </td>
            </tr>
            <tr>
                <td>
                    相册
                </td>
                <td>
                    18寸清新炫彩水晶琉璃册<br>
                    12寸清新炫彩水晶琉璃册
                </td>
                <td>
                    18寸高端巴洛克烤漆相册<br>
                    12寸高端巴洛克烤漆相册<br>
                    12寸高端巴洛克烤漆相册
                </td>
            </tr>
            <tr class="nobb">
                <td>
                    赠品
                </td>
                <td>
                    精致80寸婚礼巨幅专用绢丝海报<br>
                    免费永久云端存储
                </td>
                <td>
                    精致80寸婚礼巨幅专用绢丝海报<br>
                    免费永久云端存储
                </td>
            </tr>
            <tr class="nobb">
                <td>
                    服务备注
                </td>
                <td>
                    拍摄服装不分区域，所有化妆用品免费<br>
                    外景地所产生的门票<br>
                    或场地租金（个别场地除外）以及中餐等费用，<br>
                    均由嫁拍承担（含工作人员）
                </td>
                <td>
                    拍摄服装不分区域，所有化妆用品免费<br>
                    拍摄所产生的车、外景地所产生的门票<br>
                    或场地租金（个别场地除外）以及中餐等费用，<br>
                    均由嫁拍承担（含工作人员）
                </td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th style="width:11%">
                </th>
                <th style="width:44.5%">
                    <a href="/site/package-d">6999套系</a>
                </th>
                <th style="width:44.5%">
                    <a href="/site/package-e">9999套系</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    原片
                </td>
                <td>
                    不低于240张
                </td>
                <td>
                    不低于260张
                </td>
            </tr>
            <tr>
                <td>
                    精修片
                </td>
                <td>
                    80张
                </td>
                <td>
                    90张
                </td>
            </tr>
            <tr>
                <td>
                    礼服造型
                </td>
                <td>
                    6组
                </td>
                <td>
                    6组
                </td>
            </tr>
            <tr>
                <td>
                    相框摆台
                </td>
                <td>
                    40寸尊贵维也纳套框一副<br>
                    30 *30寸索菲亚框一副<br>
                    高端巴洛克烤漆照片墙一套（11副）<br>
                    10寸莫奈花园浮雕摆台一副<br>
                    12寸巴洛克烤漆工艺摆台一副<br>
                    10寸巴洛克烤漆工艺摆台一副<br>
                    8寸巴洛克烤漆工艺摆台一副
                </td>
                <td>
                    60寸博洛尼高端工艺框一副<br>
                    40寸尊贵维也纳套框一副<br>
                    30 *30寸索菲亚框一副<br>
                    高端巴洛克烤漆照片墙一套（11副）<br>
                    10寸维多利亚百合浮雕摆台一副<br>
                    12寸巴洛克烤漆工艺摆台一副<br>
                    10寸巴洛克烤漆工艺摆台一副<br>
                    8寸巴洛克烤漆工艺摆台一副
                </td>
            </tr>
            <tr>
                <td>
                    相册
                </td>
                <td>
                    18寸莫奈花园浮雕册（10P）<br>
                    12寸莫奈花园浮雕册（10P）<br>
                    12寸莫奈花园浮雕册（10P）
                </td>
                <td>
                    18寸维多利亚百合浮雕册（10P）<br>
                    16寸维多利亚百合浮雕册（10P）<br>
                    16寸维多利亚百合浮雕册（10P）
                </td>
            </tr>
            <tr class="nobb">
                <td>
                    赠品
                </td>
                <td>
                    精致80寸婚礼专用巨幅绢丝海报两套<br>
                    免费永久云端存储<br>
                    免费赠送全部底片、精修片、相册排版设计
                </td>
                <td>
                    精致80寸婚礼专用巨幅绢丝海报两套<br>
                    免费永久云端存储<br>
                    免费赠送全部底片、精修片、相册排版设计
                </td>
            </tr>
            <tr class="nobb">
                <td>
                    服务备注
                </td>
                <td>
                    结婚当天免费租赁婚纱(齐地款式)、小礼服各一套（租期1天）<br>
                    拍摄服装不分区域，所有化妆用品免费<br>
                    拍摄所产生的车、外景地所产生的门票<br>
                    或场地租金（个别场地除外）以及中餐等费用，<br>
                    均由嫁拍承担（含工作人员）
                </td>
                <td>
                    免费量身定做结婚当天婚纱、小礼服各一件<br>
                    （婚纱为齐地，全场任选）<br>
                    拍摄服装不分区域，所有化妆用品免费<br>
                    拍摄所产生的车、外景地所产生的门票<br>
                    或场地租金（个别场地除外）以及中餐等费用，<br>
                    均由嫁拍承担（含工作人员）
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}