<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='{{static}}css/style.css'/>
    <link rel='stylesheet' href='{{static}}css/api.css'/>
    {{{block "adminStyle"}}}
</head>
<body>
<div class="leftMenu">
    <a class="admin" href="{{static}}api">相册</a>
    <a class="user" href="{{static}}api/users">用户</a>
    <a class="photographer" href="{{static}}api/photographer">摄影师</a>
</div>
<div class="main">
    {{{body}}}
</div>
<script src="{{static}}js/jquery.min.js"></script>
<script src="{{static}}js/admin.js"></script>
{{{block "adminScripts"}}}

</body>
</html>
