<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta content="yes" name="apple-mobile-web-app-capable">
      <meta content="yes" name="apple-touch-fullscreen">
      <meta content="telephone=no,email=no" name="format-detection">
      <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
      <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
      <title>{{title}}</title>
      <link rel='stylesheet' href='{{static}}css/style.css' />
    {{{block "adminStyle"}}}
  </head>
  <body>
  <header><span class="local">全部</span><span class="title">{{title}}</span></header>
    {{{body}}}
  <footer>
      <a class="index" href="{{static}}">精选</a>
      <a class="sort" href="{{static}}sort">分类</a>
      <a class="photographer" href="{{static}}photographer">摄影师</a>
      <a class="admin" href="{{static}}admin">我的</a>
  </footer>
    {{{block "adminScripts"}}}
  </body>
</html>
