<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/css/style.css' />
    {{{block "adminStyle"}}}
  </head>
  <body>
  <header><span class="local">全部</span><span class="title">{{title}}</span></header>
    {{{body}}}
  <footer>
      <a class="index" href="/">精选</a>
      <a class="sort" href="/sort">分类</a>
      <a class="photographer" href="/photographer">摄影师</a>
      <a class="admin" href="/admin">我的</a>
  </footer>
    {{{block "adminScripts"}}}
  </body>
</html>
