{{#extend "adminStyle"}}
    <!--<script type="text/javascript" charset="utf-8"  src="/common/js/jquery.min.js"></script>-->


    <link rel="stylesheet" href="{{static}}api/css/admin.css"/>
    <link href="{{static}}common/fine-uploader/fine-uploader-new.css" rel="stylesheet">
    <style>
        .photoframes {
            background: #d2d2d2;
        }
    </style>
{{/extend}}

<div class="header">
    <form>
        <input type="text" name="title" placeholder="名称"/>
        <label><input value="true" name="public" type="radio"/>发布</label>
        <label><input value="false" name="public" type="radio"/>未发布</label>
        <button>搜索</button>
        <div class="page-nav">
            <span class="btn">上一页</span>
            <span><em>1</em>/1</span>
            <span class="btn">下一页</span>
        </div>
    </form>
</div>
<div class="top-box">
    <form>
        <table class="users ">
            <tr>
                <td colspan="4" style="font-weight: bold; font-size: 16px">新增婚件产品</td>
                <td rowspan="2"><span id="add" class="btn">增加</span></td>
            </tr>
            <tr>
                <td><input class="addTitle" type="text" name="title" placeholder="名称"/></td>
                <td><input type="text" name="size" placeholder="尺寸"/></td>
                <td><input type="text" name="promise" placeholder="承诺"/></td>
                <td>
                    <input type="text" style="width: 60px;" name="stockNum" placeholder="库存数量"/>
                    <input style="width: 60px" type="text" name="pageNum" placeholder="页数"/>
                    <input type="text" name="price" style="width: 60px;" placeholder="价格"/>
                    <select name="sort">
                        <option value="摆台">摆台</option>
                        <option value="相册">相册</option>
                        <option value="相框挂件">相框挂件</option>
                        <option value="挂件">挂件</option>
                        <option value="其它">其它</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="intention-box">
    <h3>婚件产品</h3>

    {{#each photoFrames}}
        <table class="users ">
            <tr>
                <td><input type="text" value="{{title}}" name="title" placeholder="名称"/></td>
                <td><input type="text" value="{{saledNumber}}"  name="saledNumber" placeholder="销售数量"/></td>
                <td><input type="text" value="{{Number}}"  name="Number" placeholder="尺寸"/></td>
                <td><input type="text" value="{{promise}}"  name="promise" placeholder="承诺"/></td>
                <td>
                    <input type="text" style="width: 60px;" value="{{stockNum}}"  name="stockNum" placeholder="剩余数量"/>
                    <input style="width: 60px" type="text" value="{{size}}"  name="size" placeholder="页数"/>
                    <input type="text" value="{{promise}}"  name="price" style="width: 60px;" placeholder="价格"/>
                    <label><input value="true" {{#if public}} checked {{/if}} name="public" type="radio"/>发布</label>
                    <label><input value="false" {{#compare public "==" false }} checked {{/compare}} name="public" type="radio"/>未发布</label>
                    <select>
                        <option value="摆台">摆台</option>
                        <option value="摆台">相册</option>
                        <option value="摆台">相框挂件</option>
                        <option value="摆台">挂件</option>
                        <option value="摆台">其它</option>
                    </select>
                </td>
                <td rowspan="3"><span class="btn">更新</span></td>
            </tr>
            <tr>
                <td>轮播图片：</td>
                <td colspan="4" class="imglist">
                    <div class="imglist-item">
                        <img src="" alt=""/>
                        <span class="delete">删除</span>
                    </div>
                    <div class="imglist-item">
                        <img src="" alt=""/>
                        <span class="delete">删除</span>
                    </div>
                    <div class="imglist-item">
                        <img src="" alt=""/>
                        <span class="delete">删除</span>
                    </div>
                    <div class="imglist-item">
                        <img src="" alt=""/>
                        <span class="delete">删除</span>
                    </div>
                    <div class="imglist-item">
                        <img src="" alt=""/>
                        <span class="delete">删除</span>
                    </div>
                    <div class="imglist-item">
                        <img src="" alt=""/>
                        <span class="delete">删除</span>
                    </div>
                    <div class="add-item">增加</div>
                </td>
            </tr>
            <tr>
                <!--产品描述-->
                <td>产品详细：</td>
                <td colspan="4" class="content" type="detail">

                </td>
            </tr>
        </table>
    {{/each}}

    <script id="editor1" type="text/plain" style="width:100%;height:200px;">内容1</script>
</div>
{{#extend "adminScripts"}}
    <script src="{{static}}common/fine-uploader/fine-uploader.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/common/ueditorphp/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/common/ueditorphp/ueditor.all.min.js"></script>
    <script src="{{static}}api/js/photoFramesData.js"></script>
    <script src="{{static}}api/js/photoFrames.js"></script>
    <script>

        $('.intention-box').on('click', '.fixed', function () {
            var form = $(this).parents('form');
            var fields = form.serializeArray();
            var params = {};
            jQuery.each(fields, function (i, field) {
                params[field.name] = field.value;
            });
            params.type = "update";
            params._id = $(this).data('id');
            $.post("/api/intention", params,
                    function (data) {
                        if (data.success) {
                            alert('更新成功')
                        }
                    });

            return false;
        })

    </script>


    <script type="text/javascript">
        var ue = UE.getEditor('editor1');
        var param = "&type=lb&id=";
        ue.ready(function () {
            //阻止工具栏的点击向上冒泡
            $(this.container).click(function (e) {
                e.stopPropagation()
            });
        });
        $('.content').click(function (e) {
            var $target = $(this);
            var content = $target.html();
            var currentParnet = ue.container.parentNode.parentNode;
            var currentContent = ue.getContent();
            $target.html('');
            $target.append(ue.container.parentNode);
            ue.reset();
            param = "&type=" + $target.attr('type') + "&id=" + "";
            setTimeout(function () {
                ue.setContent(content);
            }, 200);
            $(currentParnet).html(currentContent);
        })
    </script>

{{/extend}}