{{#extend "adminStyle"}}
    <style>
        .user {
            background: #d2d2d2;
        }
    </style>
{{/extend}}

<div class="header">
    <input id="phone" type="text" name="phone" placeholder="手机号"/>
    <input id="realName" type="text" name="realName" placeholder="真实姓名"/>
    <label><input type="checkbox" {{#if application}}checked{{/if}} class="application" />摄影师申请</label>
    <button id="search">搜索</button>
    <div class="page-nav"  total="{{length}}">
        <span class="btn pre-btn">上一页</span>
        <span><em id="current">{{current}}</em>/{{length}}</span>
        <span class="btn next-btn">下一页</span>
    </div>
</div>
{{#each taove}}
    <form>
    <table class="users ">
        <tr id="postData">
            <td><span>昵称：</span>{{this.nikeName}}</td>
            <td><span>真实性名：</span>{{this.realName}}</td>
            <td><span>手机号码：</span>{{this.phone}}</td>
            <td><span>电子邮箱：</span>{{this.email}}</td>
            <td><span>套餐意向：</span>{{this.intention}}</td>
            <td rowspan="3">
                <button phone="{{this.phone}}" class="fixed">更新</button>
            </td>
        </tr>
        <tr>
            <td><span>所在城市：</span>{{this.city}}</td>
            <td><span>从事时间：</span>{{this.fromTime}}</td>
            <td><span>创建时间：</span>{{this.createdOn}}</td>
            <td><span>更新时间：</span>{{this.updated}}</td>
            <td><span>登录时间：</span>{{this.lastLogin}}</td>
        </tr>
        <tr>
            <td><span>擅长样式：</span>{{this.goodStyle}} </td>
            <td><span>证件照：</span><img src="{{this.credentialsPhotoUrl}}" alt=""/></td>
            <td><span>头像照：</span><img src="{{this.pohotoUrl}}" alt=""/></td>
            <td colspan="2">
                <input type="checkbox" name="admin" {{#if this.admin}} checked {{/if}} /><span>管理员</span>
                <input type="checkbox" name="approved"  {{#if this.approved}} checked {{/if}} /><span>摄影师资格</span>
                <input type="checkbox" name="banned"  {{#if this.banned}} checked {{/if}} /><span>摄影师状态</span>
               <input type="checkbox" name="application"  {{#if this.application}} checked {{/if}} /><span>摄影师申请</span>
            </td>
        </tr>
        <tr>
            <td width="50%" colspan="3">
                <span>自我介绍：</span>{{this.selfIntroduction}}
            </td>
            <td colspan="3">
                <span>化妆师：</span>{{this.makeuperIntroduction}}
            </td>
        </tr>
        <tr>
            <td colspan="3"><a href="3">查看摄影师作品</a></td>
            <td colspan="3"><a href="">查看摄影师婚纱</a></td>
        </tr>

    </table>
    </form>
{{/each}}
{{#extend "adminScripts"}}
    <script src="{{static}}api/js/user.js"></script>
    <script>

    </script>
{{/extend}}