{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/buyer.css">
    <style>
        .albums {
            color: #ff4f4f;
        }
    </style>
{{/extend}}

<div class="main clearfix">
    {{> left}}
    <div class="content">
        <div class="tab">
            <div class="menu clearfix">
                <span class="current">已精修</span>
                <span>未精修</span>
            </div>
            <div class="panel current clearfix">
                <div class="item upload">
                    <div class="box">
                    </div>
                    <p>上传照片</p>
                </div>
                <div class="item">
                    <div class="box">
                        <img src="{{static}}pc/img/buyer/yp.jpg" alt=""/>

                        <div class="btn clearfix">
                            <i></i>
                            <span>删除</span>
                            <span>旋转</span>
                            <span>下载</span>
                        </div>
                    </div>
                    <p>原片</p>
                </div>
                <div class="item">
                    <div class="box">
                        <img src="{{static}}pc/img/buyer/yp.jpg" alt=""/>

                        <div class="btn clearfix">
                            <i></i>
                            <span>删除</span>
                            <span>旋转</span>
                            <span>下载</span>
                        </div>
                    </div>
                    <p>原片</p>
                </div>
                <div class="item">
                    <div class="box">
                        <img src="{{static}}pc/img/buyer/yp.jpg" alt=""/>

                        <div class="btn clearfix">
                            <i></i>
                            <span>删除</span>
                            <span>旋转</span>
                            <span>下载</span>
                        </div>
                    </div>
                    <p>原片</p>
                </div>

            </div>
            <div class="panel clearfix">
                <div class="item upload">
                    <div class="box">
                    </div>
                    <p>上传照片</p>
                </div>
                <div class="item">
                    <div class="box">
                        <img src="{{static}}pc/img/buyer/yp.jpg" alt=""/>

                        <div class="btn clearfix">
                            <i></i>
                            <span>删除</span>
                            <span>旋转</span>
                            <span>下载</span>
                        </div>
                    </div>
                    <p>原片</p>
                </div>
                <div class="item">
                    <div class="box">
                        <img src="{{static}}pc/img/buyer/yp.jpg" alt=""/>

                        <div class="btn clearfix">
                            <i></i>
                            <span>删除</span>
                            <span>旋转</span>
                            <span>下载</span>
                        </div>
                    </div>
                    <p>原片</p>
                </div>
            </div>

        </div>

    </div>
</div>
</div>

{{#extend "pcScripts"}}
    <script src="{{static}}pc/js/buyer.js"></script>
    <script>

    </script>
{{/extend}}