{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/photoframes.css">
    <style>
    </style>
{{/extend}}

<div class="section clearfix">
    <div class="item">
        <a class="img-a" href="{{static}}photoframes/detail"sta><img src="{{static}}img/load.gif"  data-original="" alt=""/></a>
        <h2>8寸赫拉或韩绒水晶</h2>
        <p>设计排版1P <em>￥38</em></p>
        <p>15.24x20.32cm <a href="{{static}}photoframes/detail"sta>购买</a></p>
    </div>
    <div class="item">
        <a class="img-a" href="{{static}}photoframes/detail"sta><img src="{{static}}img/load.gif"  data-original="" alt=""/></a>
        <h2>8寸赫拉或韩绒水晶</h2>
        <p>设计排版1P <em>￥38</em></p>
        <p>15.24x20.32cm <a href="{{static}}photoframes/detail"sta>购买</a></p>
    </div>
    <div class="item">
        <a class="img-a" href="{{static}}photoframes/detail"sta><img src="{{static}}img/load.gif"  data-original="" alt=""/></a>
        <h2>8寸赫拉或韩绒水晶</h2>
        <p>设计排版1P <em>￥38</em></p>
        <p>15.24x20.32cm <a href="{{static}}photoframes/detail"sta>购买</a></p>
    </div>
    <div class="item">
        <a class="img-a" href="{{static}}photoframes/detail"sta><img src="{{static}}img/load.gif"  data-original="" alt=""/></a>
        <h2>8寸赫拉或韩绒水晶</h2>
        <p>设计排版1P <em>￥38</em></p>
        <p>15.24x20.32cm <a href="{{static}}photoframes/detail"sta>购买</a></p>
    </div>
    <div class="item">
        <a class="img-a" href="{{static}}photoframes/detail"sta><img src="{{static}}img/load.gif"  data-original="" alt=""/></a>
        <h2>8寸赫拉或韩绒水晶</h2>
        <p>设计排版1P <em>￥38</em></p>
        <p>15.24x20.32cm <a href="{{static}}photoframes/detail"sta>购买</a></p>
    </div>
    <div class="item">
        <a class="img-a" href="{{static}}photoframes/detail"sta><img src="{{static}}img/load.gif"  data-original="" alt=""/></a>
        <h2>8寸赫拉或韩绒水晶</h2>
        <p>设计排版1P <em>￥38</em></p>
        <p>15.24x20.32cm <a href="{{static}}photoframes/detail"sta>购买</a></p>
    </div>
    <div class="item">
        <a class="img-a" href="{{static}}photoframes/detail"sta><img src="{{static}}img/load.gif"  data-original="" alt=""/></a>
        <h2>8寸赫拉或韩绒水晶</h2>
        <p>设计排版1P <em>￥38</em></p>
        <p>15.24x20.32cm <a href="{{static}}photoframes/detail"sta>购买</a></p>
    </div>
    <div class="item">
        <a class="img-a" href="{{static}}photoframes/detail"sta><img src="{{static}}img/load.gif"  data-original="" alt=""/></a>
        <h2>8寸赫拉或韩绒水晶</h2>
        <p>设计排版1P <em>￥38</em></p>
        <p>15.24x20.32cm <a href="{{static}}photoframes/detail"sta>购买</a></p>
    </div>
    <div class="item">
        <a class="img-a" href="{{static}}photoframes/detail"sta><img src="{{static}}img/load.gif"  data-original="" alt=""/></a>
        <h2>8寸赫拉或韩绒水晶</h2>
        <p>设计排版1P <em>￥38</em></p>
        <p>15.24x20.32cm <a href="{{static}}photoframes/detail"sta>购买</a></p>
    </div>
</div>


{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}