{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/photoframes_detail.css">
    <style>
    </style>
{{/extend}}


<div id="main">


    <div class="l-box">
        <div class="l-detail">
            <div class="l-detail-meta">
                <div class="l-gallery">
                    <div class="l-booth">
                        <img src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/ad3062e5f8875db7858d36bf5dcce82b.jpg@828w_978h_1c_1e_0r.jpg"
                             rel="http://image.jiapai.cn/photoframegoods/201503/ad3062e5f8875db7858d36bf5dcce82b.jpg@828w_978h_1c_1e_0r.jpg"
                             class="J-show" alt="" style="cursor: crosshair;">
                    </div>
                    <div class="l-tab">
                        <a href="javascript:;" class="z-left J-left"><span></span></a>

                        <div class="l-tab-box J-tab-box">
                            <ul style="width: 455px;">
                                <li class=""
                                    data-bigsrc="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/6c69972eb948e9ad1ed8cf5bfb582f6b.jpg@828w_978h_1c_1e_0r.jpg">
                                    <img src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/6c69972eb948e9ad1ed8cf5bfb582f6b.jpg@70w_96h_1c_1e_0r.jpg">
                                </li>
                                <li data-bigsrc="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/b6e0d70ca1f4c60a366c89a8ad0d00d0.jpg@828w_978h_1c_1e_0r.jpg"
                                    class=""><img
                                        src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/b6e0d70ca1f4c60a366c89a8ad0d00d0.jpg@70w_96h_1c_1e_0r.jpg">
                                </li>
                                <li data-bigsrc="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/dec060da8cc487e4a0ee91499e4e8db1.jpg@828w_978h_1c_1e_0r.jpg"
                                    class=""><img
                                        src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/dec060da8cc487e4a0ee91499e4e8db1.jpg@70w_96h_1c_1e_0r.jpg">
                                </li>
                                <li data-bigsrc="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/ad3062e5f8875db7858d36bf5dcce82b.jpg@828w_978h_1c_1e_0r.jpg"
                                    class="z-on"><img
                                        src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/ad3062e5f8875db7858d36bf5dcce82b.jpg@70w_96h_1c_1e_0r.jpg">
                                </li>
                                <li data-bigsrc="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/1a03d38ec168c4ecb9f3d06c5ded6c91.jpg@828w_978h_1c_1e_0r.jpg">
                                    <img src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201503/1a03d38ec168c4ecb9f3d06c5ded6c91.jpg@70w_96h_1c_1e_0r.jpg">
                                </li>
                            </ul>
                        </div>
                        <a href="javascript:;" class="z-right J-right"><span></span></a>
                    </div>
                </div>
                <div class="l-wrap">
                    <h2>10寸赫拉或韩绒水晶</h2>
                    <dl>
                        <dt>市场价</dt>
                        <dd>￥240</dd>
                    </dl>
                    <dl class="l-jp">
                        <dt>嫁拍价</dt>
                        <dd><em>￥48</em></dd>
                    </dl>
                    <dl>
                        <dt>规格</dt>
                        <dd>
                            设计排版1P<br>
                            20.32x25.4cm
                        </dd>
                    </dl>
                    <dl>
                        <dt>数量</dt>
                        <dd>
                            <span class="z-ron J-ron">-</span>
                            <input type="text" value="1" class="J-now" id="buy_num">
                            <input type="hidden" value="2" id="id">
                            <span class="z-ron z-on J-add">+</span>
                            &nbsp;&nbsp;库存<dfn class="J-stock">充足</dfn>
                        </dd>
                    </dl>
                    <div class="l-btn">
                        <a href="javascript:;" class="l-linkbuy">立即购买</a>
                        <a href="javascript:;" class="l-linkbasket">加入购物车</a>
                    </div>
                    <dl>
                        <dt>承诺</dt>
                        <dd>15天之内交付物品 所有成品都是包含设计排版（除摆台、海报、挂件）</dd>
                    </dl>
                    <dl>
                        <dt>支付</dt>
                        <dd>
                            <a href="javascript:;"><img
                                    src="{{static}}img/load.png"  data-original="http://static.jiapai.cc/src/img/photoframes/zf-1.png?20151104"></a>
                            <a href="javascript:;"><img
                                    src="{{static}}img/load.png"  data-original="http://static.jiapai.cc/src/img/photoframes/zf-2.png?20151104"></a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="l-code-right"><img src="{{static}}img/load.png"  data-original="http://static.jiapai.cc/src/img/photoframes/code.png?20151104"></div>
        </div>
        <div class="l-int">
            <div class="l-selling-box">
                <h2>热卖</h2>
                <ul>
                    <li>
                        <div class="l-img"><a href="/photoframes/index/?id=1"><img
                                src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201504/7127d6557e417b5a03cf663606917a6a.png@154w_206h_1c_1e_0r.jpg"></a>
                        </div>
                        <div class="l-tit">
                            8寸赫拉或韩绒水晶<br>
                            设计排版1P <br>
                            15.24x20.32cm <span>￥38</span>
                        </div>
                    </li>
                    <li>
                        <div class="l-img"><a href="/photoframes/index/?id=2"><img
                                src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201504/f9765a3a684ea463151053f552598099.png@154w_206h_1c_1e_0r.jpg"></a>
                        </div>
                        <div class="l-tit">
                            10寸赫拉或韩绒水晶<br>
                            设计排版1P <br>
                            20.32x25.4cm <span>￥48</span>
                        </div>
                    </li>
                    <li>
                        <div class="l-img"><a href="/photoframes/index/?id=3"><img
                                src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201504/6900d2480fd96ee22988a12a3a34df61.png@154w_206h_1c_1e_0r.jpg"></a>
                        </div>
                        <div class="l-tit">
                            12寸清新炫彩水晶琉璃册<br>
                            设计排版1P <br>
                            21x31cm <span>￥178</span>
                        </div>
                    </li>
                    <li>
                        <div class="l-img"><a href="/photoframes/index/?id=5"><img
                                src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201504/fb5306ad9803e530b83612743caf7be0.png@154w_206h_1c_1e_0r.jpg"></a>
                        </div>
                        <div class="l-tit">
                            16寸清新炫彩水晶琉璃册<br>
                            设计排版1P <br>
                            26x38.5cm <span>￥228</span>
                        </div>
                    </li>
                    <li>
                        <div class="l-img"><a href="/photoframes/index/?id=4"><img
                                src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/photoframegoods/201504/806c5b99e570bcb997227deac94a49d2.png@154w_206h_1c_1e_0r.jpg"></a>
                        </div>
                        <div class="l-tit">
                            12寸赫拉或韩绒水晶<br>
                            设计排版1P <br>
                            20.32x30.48cm <span>￥58</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="l-merchandise">
                <h2>
                    <ul class="J-tab">
                        <li class="z-on">
                            商品详情
                            <span></span>
                        </li>
                        <li>
                            产品尺寸
                            <span></span>
                        </li>
                    </ul>
                </h2>
                <div class="l-con">
                    <div class="m-con J-tab-con z-on">
                        <p></p>

                        <p>
                        </p>

                        <p>
                            <strong><span style="font-size:32px;"><br>
</span></strong>
                        </p>

                        <p style="text-align:center;">
                            <strong><span style="font-size:32px;">10寸赫拉或韩绒水晶摆台</span></strong>
                        </p>

                        <p style="text-align:center;">
                            <strong><span style="font-size:32px;"><br>
</span></strong>
                        </p>

                        <p style="text-align:center;">
                            <strong><span style="font-size:24px;"><span
                                    style="font-size:24px;">设计思路</span></span></strong>
                        </p>

                        <p style="text-align:left;">
                            <span style="font-size:24px;"><span
                                    style="color:#2C3039;font-family:'Microsoft YaHei', Tahoma, Helvetica, Arial, 宋体, sans-serif;font-size:18px;line-height:21px;background-color:#FFFFFF;"> 简洁大方的后现代风，完美呈现照片的真实美感，使用直角无裁切原比例展示照片的整体效果，表面采用 &nbsp; &nbsp; 防划、防水、防变形</span></span>
                        </p>

                        <p style="text-align:left;">
	<span style="font-size:24px;"><span
            style="color:#2C3039;font-family:'Microsoft YaHei', Tahoma, Helvetica, Arial, 宋体, sans-serif;font-size:18px;line-height:21px;background-color:#FFFFFF;"><img
            src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/news/201509/490dbc2a70dd60f0b058c142410fd6ad_thumb.jpg" alt=""><br>
</span></span>
                        </p>

                        <p style="text-align:center;">
	<span style="font-size:24px;"><span
            style="color:#2C3039;font-family:'Microsoft YaHei', Tahoma, Helvetica, Arial, 宋体, sans-serif;font-size:18px;line-height:21px;background-color:#FFFFFF;"><br>
</span></span>
                        </p>

                        <p style="text-align:center;">
                            <span style="font-size:24px;"><span
                                    style="color:#2C3039;font-family:'Microsoft YaHei', Tahoma, Helvetica, Arial, 宋体, sans-serif;font-size:18px;line-height:21px;background-color:#FFFFFF;"></span></span>
                        </p>

                        <p class="MsoNormal"
                           style="color:#2C3039;font-family:'Microsoft YaHei', Tahoma, Helvetica, Arial, 宋体, sans-serif;background-color:#FFFFFF;">
                            <span style="font-size:18px;"> 产品材质：国内</span><span style="font-size:18px;">5A</span><span
                                style="font-size:18px;">级环保材料，国内特选木材品牌制造商</span>
                        </p>

                        <p class="MsoNormal"
                           style="color:#2C3039;font-family:'Microsoft YaHei', Tahoma, Helvetica, Arial, 宋体, sans-serif;background-color:#FFFFFF;">
                            <span style="font-size:18px;"> 制作工艺：采用“水晶烤漆与照片融为一体”独特的制作工艺与照片封面完美结合，将水晶的光滑亮丽和 &nbsp; &nbsp; 烤漆的尊贵推向极致</span>
                        </p>

                        <div style="text-align:center;">
                            <br>
                        </div>
                        <p>
                            <img src="{{static}}img/load.png"  data-original="http://image.jiapai.cn/news/201509/b1e4c1fd3ff79c4122fcfa3ef139f594_thumb.jpg"
                                 alt="">
                        </p>

                        <p></p>
                    </div>
                    <div class="m-con J-tab-con">
                        <h3>产品参数</h3>
                        <ul>
                            设计排版1P<br>
                            <li title="&nbsp;20.32x25.4cm">尺寸:&nbsp;20.32x25.4cm</li>
                            <li title="&nbsp;1P">设计排版:&nbsp;1P</li>
                            <li title="&nbsp;摆台">类别:&nbsp;摆台</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}