<div class="outer">
    <div class="header">
        <h1>头部</h1>
        <a href="javascript:;" class="btn lock">锁定</a>

        <div class="footer" style="position:absolute;left:0;top:0;background-color:#fff;">
            <a href=""></a>
            <a href="#"></a>
        </div>
    </div>
    <div id="inner" class="inner">
        <script src="{{static}}mobile/js/lazyload.min.js"></script>
        <script>
            var lazy = lazyload({
                container: document.getElementById('inner')
            });
        </script>
        <div class="lists">
            {{#each taove}}
                <div class="item grid-item" createdOn="{{this.createdOn}}">
                    <a style="width:{{../imgWidth}}px; height:{{getHeight this.coverImg.height this.coverImg.width ../imgWidth}}px"
                       href="{{../static}}admin/productiondetail?albumsId={{this._id}}" class="box">
                        <img width="{{../imgWidth}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             height="{{getHeight this.coverImg.height this.coverImg.width ../imgWidth}}"
                             data-src="{{../static}}{{this.coverImg.path}}{{reNameImg this.coverImg.name}}"
                             alt="{{this.title}}" onload=lazy(this) />
                        <div class="btn clearfix">
                            <i></i>
                            <em>点击进入相册</em>
                        </div>
                    </a>
                    <div class="br">
                        <p albumsId="{{this._id}}" class="editAlbumsTitle edit"
                           contenteditable="true">{{this.title}}</p> <em>{{this.imgNum}}张图片</em>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>






{{#extend "mStyle"}}
    <link rel="stylesheet" href="/mobile/dropload/dropload.css"/>
    <link rel="stylesheet" href="/mobile/css/homeD.css">
    <style>
        .photographer {
            color: #fe555a;
        }
    </style>
{{/extend}}

{{#extend "mScripts"}}
    <script src="/mobile/dropload/dropload.js"></script>
<!--    <script src="/common/js/isotope.pkgd.min.js"></script>-->

    <script>

        var imgWidth={{imgWidth}}

        //瀑布流
     /*   var inner =  new Isotope( '.inner', {
            itemSelector: '.item'
        });*/
        $(function () {
            // 按钮操作
            $('.header .btn').on('click', function () {
                var $this = $(this);
                if (!!$this.hasClass('lock')) {
                    $this.attr('class', 'btn unlock');
                    $this.text('解锁');
                    // 锁定
                    dropload.lock();
                    $('.dropload-down').hide();
                } else {
                    $this.attr('class', 'btn lock');
                    $this.text('锁定');
                    // 解锁
                    dropload.unlock();
                    $('.dropload-down').show();
                }
            });

            // dropload
            var dropload = $('.inner').dropload({
                domUp: {
                    domClass: 'dropload-up',
                    domRefresh: '<div class="dropload-refresh">↓下拉刷新</div>',
                    domUpdate: '<div class="dropload-update">↑释放更新</div>',
                    domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
                },
                domDown: {
                    threshold: "600",
                    domClass: 'dropload-down',
                    domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
                    domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
                    domNoData: '<div class="dropload-noData">暂无数据</div>'
                },
                loadUpFn: function (me) {
                    var url='/m?q=update&createdOn='+$('.item').first().attr('createdOn');
                    $.ajax({
                        type: 'get',
                        url: url,
                        catch:false,
                        dataType: 'json',
                        success: function (data) {

                            var result = '';
                            for (var i = 0; i < data.length; i++) {
                                var img = data[i];
                                var imgName=img.coverImg.name.split('.')[0]+"_540."+img.coverImg.name.split('.')[1];
                                result +=
                                        '<div class="item grid-item" createdOn="'+img.createdOn+'">\
                                        <a style="width:540px; height:'+ parseInt(img.coverImg.height*(540/img.coverImg.width))+'px"\
                                        href="/admin/productiondetail?albumsId='+ img._id + '"  class="box">\
                                <img  width="540" height="'+ parseInt(img.coverImg.height*(540/img.coverImg.width))+'" src="/img/alpha.png"\
                                data-src="/' + img.coverImg.path + imgName + '" onload=lazy(this) />\
                                <div class="btn clearfix">\
                                <i></i>\
                                <em>点击进入相册</em>\
                                </div>\
                                </a>\
                                <div class="br">\
                                <p albumsId="' + img._id + ' " class="editAlbumsTitle edit"\
                                contenteditable="true">' + img.title + ' </p> <em>' + img.imgNum + ' 张图片</em>\
                                </div>\
                                </div>';
                            }
                            // 为了测试，延迟1秒加载
                            //setTimeout(function(){
                            //$('.lists').html(result);
                            $('.lists').prepend(result);
                            if(!result){
                                me.noData();
                            }
                           /* new Isotope( '.inner', {
                                itemSelector: '.item'
                            });*/

                            // 每次数据加载完，必须重置
                            dropload.resetload();
                            //},1000);
                        },
                        error: function (xhr, type) {
                            console.log(xhr,type)
                            // 即使加载出错，也得重置
                            dropload.resetload();
                        }
                    });
                },
                loadDownFn: function (me) {
                    var url='/m?q=more&createdOn='+$('.item').last().attr('createdOn');
                    $.ajax({
                        type: 'get',
                        url: url,
                        catch:false,
                        dataType: 'json',
                        success: function (data) {
                            var result = '';
                            for (var i = 0; i < data.length; i++) {
                                var img = data[i];
                                var imgName=img.coverImg.name.split('.')[0]+"_540."+img.coverImg.name.split('.')[1];
                                result +=
                                        '<div class="item grid-item"  createdOn="'+img.createdOn+'">\
                                        <a style="width: 540px; height:'+ parseInt(img.coverImg.height*(540/img.coverImg.width))+'px"\
                                        href="/admin/productiondetail?albumsId='+ img._id + '"  class="box">\
                                <img  width="540" height="'+ parseInt(img.coverImg.height*(540/img.coverImg.width))+'" src="/img/alpha.png"\
                                data-src="/' + img.coverImg.path + imgName + '" onload=lazy(this) />\
                                <div class="btn clearfix">\
                                <i></i>\
                                <em>点击进入相册</em>\
                                </div>\
                                </a>\
                                <div class="br">\
                                <p albumsId="' + img._id + ' " class="editAlbumsTitle edit"\
                                contenteditable="true">' + img.title + ' </p> <em>' + img.imgNum + ' 张图片</em>\
                                </div>\
                                </div>';
                            }
                            // 为了测试，延迟1秒加载
                            // setTimeout(function(){
                            $('.lists').append(result);
                            if(!result){
                                me.noData();
                            }
                           /* new Isotope( '.inner', {
                                itemSelector: '.item'
                            });
*/
                            // 每次数据加载完，必须重置
                            dropload.resetload();
                            //},1000);
                        },
                        error: function (xhr, type) {
                            // 即使加载出错，也得重置
                            dropload.resetload();
                        }
                    });
                }
            });
        });
    </script>
{{/extend}}