<div class="swiper-container swiper-container-h">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-container swiper-container-v">
                <div class="swiper-wrapper" ajax="true" count="{{albumsNum}}">
                    <div class="refresh"><span>下接刷新</span>
                        <div class="refresh-icon"></div>
                    </div>
                    <div class="swiper-slide swiper-slide-v">
                        {{#each taove}}
                            <div class="item grid-item" createdOn="{{this.createdOn}}">
                                <div class="br userinfo">
                                    <a href="#"><img src="/img/pic1.jpg" alt=""/>taove</a>
                                    <span  class="time" createdOn="{{this.createdOn}}">{{timeago this.createdOn}}</span>
                                </div>
                                <a class="box">
                                    {{#with this.coverImg}}
                                        {{{getImgM width height sizeLevel path name }}}
                                    {{/with}}
                                </a>

                                <div class="br imginfo">
                                    <p class="editAlbumsTitle edit">{{this.city}}大洋教堂;{{this.imgNum}}张图片;2000元;</p> <em>30个喜欢</em>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- Add Scroll Bar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-container swiper-container-v">
                <div class="swiper-wrapper" ajax="true" count="{{albumsNum}}">
                    <div class="refresh"><span>下接刷新</span>
                        <div class="refresh-icon"></div>
                    </div>
                    <div class="swiper-slide swiper-slide-v">
                        {{#each taove}}
                            <div class="item grid-item" createdOn="{{this.createdOn}}">
                                <div class="br userinfo">
                                    <a href="#"><img src="/img/pic1.jpg" alt=""/>taove</a>
                                    <span class="time" createdOn="{{this.createdOn}}">{{timeago this.createdOn}}</span>
                                </div>
                                <a class="box">
                                    {{#with this.coverImg}}
                                        {{{getImgM width height sizeLevel path name }}}
                                    {{/with}}
                                    <div class="swiper-lazy-preloader"></div>
                                </a>

                                <div class="br imginfo">
                                    <p class="editAlbumsTitle edit">{{this.city}}大洋教堂;{{this.imgNum}}张图片;2000元;</p> <em>30个喜欢</em>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="refresh">下接刷新
                    <div class="refresh-icon"></div>
                </div>
                <div class="loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <div class="swiper-slide">Horizontal Slide 3</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-h"></div>
</div>

<!-- Initialize Swiper -->


<!-- Swiper JS -->
<script src="{{static}}common/js/zepto.min.js"></script>
<script src="{{static}}mobile/js/swiper.min.js"></script>

{{#extend "mStyle"}}
    <link rel="stylesheet" href="/mobile/css/homeD.css">
    <link rel="stylesheet" href="/common/css/swiper.min.css">
    <style>
        html, body {
            position: relative;
            height: 100%;
        }

        body {
            background: #fff;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            position: relative;
            width: 100%;
            height: 100%;
            moz-user-select: -moz-none;
            -moz-user-select: none;
            -o-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .swiper-wrapper {
            position: relative;
            z-index: 2;
            background: #fff;
        }

        .swiper-slide {
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.5rem 0;
        }

        .item .br em {
            font-style: normal;
        }

        .swiper-container-horizontal > .swiper-pagination-bullets {
            top: 0;
            bottom: auto;
            background: #fff;
            border-bottom: 1px solid #d1d1d1;
        }

        .swiper-pagination-bullet {
            width: auto;
            height: auto;
            opacity: 0.6;
            background: none;
            padding: 0.2rem 0.4rem 0.15rem;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            font-size: 0.35rem;
        }

        .swiper-pagination-bullet-active {
            border-bottom: 6px solid #007aff;
            opacity: 1;
        }
    </style>
{{/extend}}

{{#extend "mScripts"}}
    <script>
        var swiperH = new Swiper('.swiper-container-h', {
            pagination: '.swiper-pagination-h',
            paginationClickable: true,
            paginationBulletRender: function (index, className) {
                var str = '';
                switch (index) {
                    case 0:
                        str = '关注';
                        break;
                    case 1:
                        str = '精选';
                        break;
                    case 2:
                        str = '附近';
                        break;
                }
                return '<span class="' + className + '">' + str + '</span>';
            },
            spaceBetween: 50
        });


        //重团置图片尺寸
        var srwidth = $('.swiper-wrapper').width();
        $('.box').find('img').each(function () {
            var This = $(this);
            This.css({
                width: srwidth,
                height: this.height * srwidth / this.width
            })
        })


        var swiper = new Swiper('.swiper-container-v', {
            scrollbar: '.swiper-scrollbar',
            direction: 'vertical',
            slidesPerView: 'auto',
            autoHeight: true,
            preloadImages: false,
            mousewheelControl: true,
            freeMode: true,
            lazyLoading: true,
            onTouchStart: function (swipper) {
                swipper.setWrapperTranslate(swipper.getWrapperTranslate());
                swipper.update();
            },
            onTouchEnd: function (swipper) {
                if (swipper.wrapper.data('sendupdate') == 'true') {
                    swipper.container.find('.refresh-icon').addClass('anim');
                  //  swipper.container.find('.refresh-icon').css({"transform": "rotate(0deg)",'transition':'none'});
                    swipper.wrapper.attr('ajax', 'false');
                    swipper.wrapper.data('sendupdate','false');
                    var updateCreatedOn = swipper.container.find('.item').eq(0).attr('createdOn');
                    var url = '/m?q=update&createdOn=' + updateCreatedOn;
                    var diff=swipper.wrapper.data('diff');
                    getajax(url, swipper, diff)
                }

                if(swipper.wrapper.data('sendupdate') == 'false'){
                    (function(swipper){
                        window.setTimeout(function(){
                            swipper.container.find('.refresh-icon').css({
                                transition:'500ms',
                                top:'-1rem',
                                transform:"rotate(0deg)"
                            });
                        },10)

                    })(swipper)

                }
            },
            onProgress: function (swipper, progess) {
                var diff = swipper.touches.diff;
                var itemLength = swipper.container.find('.swiper-lazy').length;
                var count = swipper.wrapper.attr('count');
                var loaded = itemLength < count;
                var moreCreatedOn = swipper.container.find('.item').eq(itemLength - 1).attr('createdOn');
                var ajax = swipper.wrapper.attr('ajax');
                var pullDistance = swipper.getWrapperTranslate() / window.devicePixelRatio;//拖动距离
                if (ajax == 'false' && loaded) {
                    swipper.container.find('.loader').css('display', 'block');
                }

                if (itemLength >= count) {
                    swipper.container.find('.loader').css({
                        'left': '0',
                        'display': 'block',
                        'width': '100%'
                    }).html('没有更多的数据了');
                }
                if (pullDistance >40 && ajax == 'true') {
                    swipper.wrapper.data('sendupdate', 'true');
                    swipper.wrapper.data('diff',diff);
                    swipper.container.find('.refresh span').html('松开刷新');
                } else if (pullDistance >0 && pullDistance <40) {
                    swipper.wrapper.data('sendupdate', 'false');
                    swipper.container.find('.refresh span').html('下拉刷新');
                 }
                if(pullDistance >0 && ajax == 'true'){
                    swipper.container.find('.refresh-icon').css({
                        transition:'300ms',
                        top:"0.5rem",
                        transform:"rotate("+(pullDistance*10)+"deg)"
                    });
                }

                if (progess >= 1 && diff < 0 && ajax == 'true' && loaded) {
                    swipper.wrapper.attr('ajax', 'false');
                    var url = '/m?q=more&createdOn=' + moreCreatedOn;
                    getajax(url, swipper, diff)
                }


            }
        });

        function getajax(url, swipper, diff) {
            $.ajax({
                type: 'get',
                url: url,
                catch: false,
                dataType: 'json',
                success: function (data) {
                    setitem(data, swipper, diff);
                    swipper.wrapper.attr('ajax', 'true');
                    swipper.container.find('.loader').css('display', 'none');
                },
                error: function (xhr, type) {

                }
            });
        }


        function setitem(taove, swipper, diff) {
            var htmlstr = "";
            var data=taove.taove;
            for (var i = 0; i < data.length; i++) {
                var img = data[i];
                var coverImg = img.coverImg;
                var wd = coverImg.width;
                var scwd = $('.swiper-slide-v').width();//coverImg.width;
                var hd = coverImg.height;
                var coverImgname = coverImg.name;
                switch (coverImg.sizeLevel) {
                    case 2:
                        coverImgname = coverImg.name.replace('.', '_640.');
                        break;
                    case 3:
                        coverImgname = coverImg.name.replace('.', '_1080.');
                        break;
                }


                htmlstr += `<div class="item grid-item" createdon="${img.createdOn}">
                        <div class="br userinfo">
                            <a href="#"><img src="/img/pic1.jpg" alt=""/>taove</a>
                            <span  class="time" createdOn="${img.createdOn}" >${timeago(img.createdOn)}</span>
                        </div>
                        <a style="${scwd}; height:${hd * scwd / wd}px" class="box">
                        <img  width="${scwd}" height="${hd * scwd / wd}" data-src="/${coverImg.path + coverImgname}" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                        </a>
                        <div class="br imginfo">
                        <p class="editAlbumsTitle edit"> ${img.city}大洋教堂;${img.imgNum}张图片;2000元;</p> <em>30个喜欢</em>
                        </div>
                        </div>`;

            }
            if (diff < 0) {
                //加载更多
                swipper.slides.append(htmlstr);
            } else {
                //刷新
                swipper.container.find('.time').each(function(){
                    var html= timeago(parseInt($(this).attr('createdOn')));
                   $(this).html(html);
                })
                swipper.wrapper.attr('createdOn',taove.count);
                swipper.slides.prepend(htmlstr);
                swipper.container.find('.refresh span').html('下拉刷新');
                swipper.container.find('.refresh-icon').removeClass('anim').css({
                    transition:'300ms',
                    top:'-1rem',
                    transform:"rotate(0deg)"
                });
            }
            swipper.update();
        }


        function timeago(date) {
            date = new Date(date);
            var seconds = Math.floor((new Date() - date) / 1000);
            var interval = Math.floor(seconds / 31536000);
            if (interval > 1) {
                return "" + interval + "年";
            }
            interval = Math.floor(seconds / 2592000);
            if (interval > 1) {
                return "" + interval + "月";
            }
            interval = Math.floor(seconds / 86400);
            if (interval > 1) {
                return "" + interval + "天";
            }
            interval = Math.floor(seconds / 3600);
            if (interval > 1) {
                return "" + interval + "时";
            }
            interval = Math.floor(seconds / 60);
            if (interval > 1) {
                return "" + interval + "分";
            }
            if (Math.floor(seconds) === 0) {
                return '刚刚';
            } else {
                return Math.floor(seconds) + '秒';
            }
        }

    </script>
{{/extend}}