<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div id="swiper" class="swiper-slide" count="{{albumsNum}}">
            {{#each taove}}
                <div class="item grid-item" createdOn="{{this.createdOn}}">
                    <a class="box">
                        {{#with this.coverImg}}
                            {{{getImgM width height 640 path name }}}
                        {{/with}}
                    </a>

                    <div class="br">
                        <p class="editAlbumsTitle edit">{{this.title}}</p> <em>{{this.imgNum}}张图片</em>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <!-- Add Scroll Bar -->
    <div class="swiper-scrollbar"></div>
</div>

<!-- Swiper JS -->
<script src="{{static}}common/js/zepto.min.js"></script>
<script src="{{static}}mobile/js/swiper.min.js"></script>



{{#extend "mStyle"}}
    <link rel="stylesheet" href="/mobile/css/homeD.css">
    <link rel="stylesheet" href="/common/css/swiper.min.css">
    <style>
        html, body {
            position: relative;
            height: 100%;
        }

        body {
            background: #fff;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
            moz-user-select: -moz-none;
            -moz-user-select: none;
            -o-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .swiper-slide {
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0px;
        }
        .item .br em{
            font-style: normal;
        }
    </style>
{{/extend}}

{{#extend "mScripts"}}
    <script>
        //重团置图片尺寸
        var srwidth=$('.swiper-wrapper').width();
        $('#swiper').find('img').each(function(){
            var This=$(this)
            if(This.width()<srwidth){
                This.css({
                    width:srwidth,
                    height:this.height*srwidth/this.width
                })
            }
        })


        var ajax=true;
        var total=$('#swiper').attr('count');
        var swiper = new Swiper('.swiper-container', {
            scrollbar: '.swiper-scrollbar',
            direction: 'vertical',
            slidesPerView: 'auto',
            autoHeight: true,
            preloadImages: false,
            mousewheelControl: true,
            freeMode: true,
            lazyLoading: true,
            onProgress: function (swpper, progess) {
                var diff=swpper.touches.diff;
                var loaded=$('.swiper-lazy').length<total;
                if (progess<1 && diff<0 && ajax && loaded) {
                    ajax=false;
                    var url = '/m?q=more&createdOn=' + $('.item').last().attr('createdOn');
                    $.ajax({
                        type: 'get',
                        url: url,
                        catch: false,
                        dataType: 'json',
                        success: function (data) {
                            setitem(data, swpper);
                            ajax=true;
                          },
                        error: function (xhr, type) {

                        }
                    });


                }
            }
        });


        function setitem(data, swpper) {
            for (var i = 0; i < data.length; i++) {
                var img = data[i];
                var coverImg = img.coverImg;
                var wd = coverImg.width;
                var scwd = $('.swiper-wrapper').width();//coverImg.width;
                var hd = coverImg.height;
                var coverImgname= coverImg.name;
                switch(coverImg.sizeLevel){
                    case 2:
                        coverImgname= coverImg.name.replace('.','_640.')
                        break;
                    case 3:
                        coverImgname= coverImg.name.replace('.','_1080.')
                        break;
                }

                console.log( coverImg.name)
                var htmlstr = `<div class="item grid-item" createdon="${img.createdOn}">
                        <a style="${scwd}; height:${hd * scwd / wd}px" class="box">
                        <img  width="${scwd}" height="${hd * scwd / wd}" data-src="/${coverImg.path + coverImgname}" class="swiper-lazy">
                        </a>
                        <div class="br">
                        <p class="editAlbumsTitle edit">${img.title}</p> <em>${img.imgNum}张图片</em>
                        </div>
                        </div>`;
                $('.swiper-slide').append(htmlstr);

            }
            swpper.update();
        }

    </script>
{{/extend}}